In [20]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from bs4 import BeautifulSoup
print(selenium.__version__)

4.20.0

In [21]:
# Initialize WebDriver
driver = webdriver.Chrome()  # Assuming you're using Chrome

# List of capitals
capitals = [
    "Tokyo",                # Japan
    "Washington, D.C.",     # United States
    "London",               # United Kingdom
    "Paris",                # France
    "Berlin",               # Germany
    "Moscow",               # Russia
    "Beijing",              # China
    "New Delhi",            # India
    "Brasília",             # Brazil
    "Canberra",             # Australia
    "Rome",                 # Italy
    "Madrid",               # Spain
    "Ottawa",               # Canada
    "Mexico City",          # Mexico
    "Buenos Aires",         # Argentina
    "Cairo",                # Egypt
    "Bangkok",              # Thailand
    "Stockholm",            # Sweden
    "Athens",               # Greece
    "Oslo",                 # Norway
    "Kabul",                # Afghanistan
    "Tirana",               # Albania
    "Algiers",              # Algeria
    "Andorra la Vella",     # Andorra
    "Luanda",               # Angola
    "Saint John's",         # Antigua and Barbuda
    "Buenos Aires",         # Argentina
    "Yerevan",              # Armenia
    "Canberra",             # Australia
    "Vienna",               # Austria
    "Baku",                 # Azerbaijan
    "Nassau",               # Bahamas
    "Manama",               # Bahrain
    "Dhaka",                # Bangladesh
    "Bridgetown",           # Barbados
    "Minsk",                # Belarus
    "Brussels",             # Belgium
    "Belmopan",             # Belize
    "Porto-Novo",           # Benin
    "Thimphu",              # Bhutan
    "Sucre",                # Bolivia
    "Sarajevo",             # Bosnia and Herzegovina
    "Gaborone",             # Botswana
    "Brasília",             # Brazil
    "Bandar Seri Begawan",  # Brunei
    "Sofia",                # Bulgaria
    "Ouagadougou",          # Burkina Faso
    "Bujumbura",            # Burundi
    "Phnom Penh",           # Cambodia
    "Yaoundé",              # Cameroon
    "Ottawa",               # Canada
    "Praia",                # Cape Verde
    "Bangui",               # Central African Republic
    "N'Djamena",            # Chad
    "Santiago",             # Chile
    "Beijing",              # China
    "Bogotá",               # Colombia
    "Moroni",               # Comoros
    "Kinshasa",             # Democratic Republic of the Congo
    "Brazzaville",          # Republic of the Congo
    "San José",             # Costa Rica
    "Yamoussoukro",         # Ivory Coast
    "Zagreb",               # Croatia
    "Havana",               # Cuba
    "Nicosia",              # Cyprus
    "Prague",               # Czech Republic
    "Copenhagen",           # Denmark
    "Djibouti",             # Djibouti
    "Roseau",               # Dominica
    "Santo Domingo",        # Dominican Republic
    "Quito",                # Ecuador
    "Cairo",                # Egypt
    "San Salvador",         # El Salvador
    "Malabo",               # Equatorial Guinea
    "Asmara",               # Eritrea
    "Tallinn",              # Estonia
    "Addis Ababa",          # Ethiopia
    "Suva",                 # Fiji
    "Helsinki",             # Finland
    "Paris",                # France
    "Libreville",           # Gabon
    "Banjul",               # Gambia
    "Tbilisi",              # Georgia
    "Berlin",               # Germany
    "Accra",                # Ghana
    "Athens",               # Greece
    "St. George's",         # Grenada
    "Guatemala City",       # Guatemala
    "Conakry",              # Guinea
    "Bissau",               # Guinea-Bissau
    "Georgetown",           # Guyana
    "Port-au-Prince",       # Haiti
    "Tegucigalpa",          # Honduras
    "Budapest",             # Hungary
    "Reykjavik",            # Iceland
    "New Delhi",            # India
    "Jakarta",              # Indonesia
    "Tehran",               # Iran
    "Baghdad",              # Iraq
    "Dublin",               # Ireland
    "Jerusalem",            # Israel
    "Rome",                 # Italy
    "Kingston",             # Jamaica
    "Tokyo",                # Japan
    "Amman",                # Jordan
    "Nur-Sultan",           # Kazakhstan
    "Nairobi",              # Kenya
    "Tarawa",               # Kiribati
    "Pristina",             # Kosovo
    "Kuwait City",          # Kuwait
    "Bishkek",              # Kyrgyzstan
    "Vientiane",            # Laos
    "Riga",                 # Latvia
    "Beirut",               # Lebanon
    "Maseru",               # Lesotho
    "Monrovia",             # Liberia
    "Tripoli",              # Libya
    "Vaduz",                # Liechtenstein
    "Vilnius",              # Lithuania
    "Luxembourg",           # Luxembourg
    "Skopje",               # Macedonia
    "Antananarivo",         # Madagascar
    "Lilongwe",             # Malawi
    "Kuala Lumpur",         # Malaysia
    "Male",                 # Maldives
    "Bamako",               # Mali
    "Valletta",             # Malta
    "Majuro",               # Marshall Islands
    "Nouakchott",           # Mauritania
    "Port Louis",           # Mauritius
    "Mexico City",          # Mexico
    "Palikir",              # Micronesia
    "Chisinau",             # Moldova
    "Monaco",               # Monaco
    "Ulaanbaatar",          # Mongolia
    "Podgorica",            # Montenegro
    "Rabat",                # Morocco
    "Maputo",               # Mozambique
    "Naypyidaw",            # Myanmar
    "Windhoek",             # Namibia
    "Yaren",                # Nauru
    "Kathmandu",            # Nepal
    "Amsterdam",            # Netherlands
    "Wellington",           # New Zealand
    "Managua",              # Nicaragua
    "Niamey",               # Niger
    "Abuja",                # Nigeria
    "Oslo",                 # Norway
    "Muscat",               # Oman
    "Islamabad",            # Pakistan
    "Ngerulmud",            # Palau
    "Panama City",          # Panama
    "Port Moresby",         # Papua New Guinea
    "Asunción",             # Paraguay
    "Lima",                 # Peru
    "Manila",               # Philippines
    "Warsaw",               # Poland
    "Lisbon",               # Portugal
    "Doha",                 # Qatar
    "Bucharest",            # Romania
    "Moscow",               # Russia
    "Kigali",               # Rwanda
    "Basseterre",           # Saint Kitts and Nevis
    "Castries",             # Saint Lucia
    "Kingstown",            # Saint Vincent and the Grenadines
    "Apia",                 # Samoa
    "San Marino",           # San Marino
    "São Tomé",             # São Tomé and Príncipe
    "Riyadh",               # Saudi Arabia
    "Dakar",                # Senegal
    "Belgrade",             # Serbia
    "Victoria",             # Seychelles
    "Freetown",             # Sierra Leone
    "Singapore",            # Singapore
    "Bratislava",           # Slovakia
    "Ljubljana",            # Slovenia
    "Honiara",              # Solomon Islands
    "Mogadishu",            # Somalia
    "Pretoria",             # South Africa
    "Bloemfontein",         # South Africa
    "Cape Town",            # South Africa
    "Seoul",                # South Korea
    "Juba",                 # South Sudan
    "Madrid",               # Spain
    "Sri Jayawardenepura Kotte",  # Sri Lanka
    "Khartoum",             # Sudan
    "Paramaribo",           # Suriname
    "Mbabane",              # Eswatini
    "Stockholm",            # Sweden
    "Bern",                 # Switzerland
    "Damascus",             # Syria
    "Taipei",               # Taiwan
    "Dushanbe",             # Tajikistan
    "Dodoma",               # Tanzania
    "Bangkok",              # Thailand
    "Lomé",                 # Togo
    "Nuku'alofa",           # Tonga
    "Port of Spain",        # Trinidad and Tobago
    "Tunis",                # Tunisia
    "Ankara",               # Turkey
    "Ashgabat",             # Turkmenistan
    "Funafuti",             # Tuvalu
    "Kampala",              # Uganda
    "Kyiv",                 # Ukraine
    "Abu Dhabi",            # United Arab Emirates
    "London",               # United Kingdom
    "Washington, D.C.",     # United States
    "Montevideo",           # Uruguay
    "Tashkent",             # Uzbekistan
    "Port Vila",            # Vanuatu
    "Vatican City",         # Vatican City
    "Caracas",              # Venezuela
    "Hanoi",                # Vietnam
    "Sana'a",               # Yemen
    "Lusaka",               # Zambia
    "Harare",               # Zimbabwe
]


print(len(capitals))

216

In [22]:
url_liv_qual ='https://www.numbeo.com/quality-of-life/rankings_current.jsp'

In [23]:
df_capital = pd.DataFrame()

In [24]:
# Fetch data using Selenium
driver.get(url_liv_qual)

# Find Table element
tbl_qual = driver.find_element(By.XPATH, '//*[@id="t2_wrapper"]')  # if there's no ID, always a good idea to copy xpath

# Parse Table element into pandas DataFrame
table_qual_html = tbl_qual.get_attribute('outerHTML')
soup = BeautifulSoup(table_qual_html, 'html.parser')

# Find all table rows in the parsed HTML
table_qual_rows = soup.find_all('tr')

In [25]:
# Initialize data list
data_qual = []
for row in table_qual_rows:
        row_data = []
        cells = row.find_all(['td', 'th'])
        for cell in cells:
            row_data.append(cell.get_text().strip())
        data_qual.append(row_data)

# Print out data structure for debugging
print("Columns:", data_qual[0])
print("Data:", data_qual[1:])

Columns: ['Rank', 'City', 'Quality of Life Index', 'Purchasing Power Index', 'Safety Index', 'Health Care Index', 'Cost of Living Index', 'Property Price to Income Ratio', 'Traffic Commute Time Index', 'Pollution Index', 'Climate Index']

In [26]:
# Extract header and data rows separately
header = data_qual[0]
data = data_qual[1:]

# Create DataFrame
df_capital = pd.DataFrame(data, columns=header)

# Display DataFrame
print(df_capital)
df_capital.head(20)

    Rank                               City Quality of Life Index  \
0      1  The Hague (Den Haag), Netherlands                 224.1
1      2             Luxembourg, Luxembourg                 221.3
2      3             Eindhoven, Netherlands                 214.3
3      4             Rotterdam, Netherlands                 214.1
4      5                    Valencia, Spain                 202.5
..   ...                                ...                   ...
194  195                 Caracas, Venezuela                  64.4
195  196                  Dhaka, Bangladesh                  61.1
196  197                Manila, Philippines                  53.7
197  198                       Tehran, Iran                  53.3
198  199                     Lagos, Nigeria                  44.4

    Purchasing Power Index Safety Index Health Care Index  \
0                    138.9         79.9              80.6
1                    171.5         71.1              78.2
2                    133.3         77.8              78.3
3                    140.6         71.7              80.6
4                     98.7         72.8              80.6
..                     ...          ...               ...
194                   11.7         18.1              38.1
195                   32.1         37.4              40.2
196                   33.6         35.3              62.5
197                   20.6         43.2              53.2
198                   12.2         31.7              47.5

    Cost of Living Index Property Price to Income Ratio  \
0                   58.1                            5.7
1                   60.9                            9.2
2                   61.2                            6.0
3                   59.2                            5.3
4                   46.3                            5.2
..                   ...                            ...
194                 41.5                           27.7
195                 24.8                           14.3
196                 36.0                           33.4
197                 28.4                           39.1
198                 34.6                           18.4

    Traffic Commute Time Index Pollution Index Climate Index
0                         21.3            17.6          90.6
1                         26.6            19.6          82.6
2                         24.9            19.6          85.4
3                         23.4            24.7          87.9
4                         22.8            23.4          93.8
..                         ...             ...           ...
194                       33.7            73.9          99.9
195                       61.4            94.2          71.3
196                       51.7            89.8          61.2
197                       51.8            80.4          71.0
198                       68.8            89.0          60.8

[199 rows x 11 columns]

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1,"The Hague (Den Haag), Netherlands",224.1,138.9,79.9,80.6,58.1,5.7,21.3,17.6,90.6
1,2,"Luxembourg, Luxembourg",221.3,171.5,71.1,78.2,60.9,9.2,26.6,19.6,82.6
2,3,"Eindhoven, Netherlands",214.3,133.3,77.8,78.3,61.2,6.0,24.9,19.6,85.4
3,4,"Rotterdam, Netherlands",214.1,140.6,71.7,80.6,59.2,5.3,23.4,24.7,87.9
4,5,"Valencia, Spain",202.5,98.7,72.8,80.6,46.3,5.2,22.8,23.4,93.8
5,6,"Zurich, Switzerland",201.2,165.7,77.3,69.9,100.3,14.0,38.9,23.0,81.5
6,7,"Vienna, Austria",199.0,112.9,69.8,79.7,64.2,11.6,22.8,16.2,81.8
7,8,"Copenhagen, Denmark",198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
8,9,"Helsinki, Finland",197.4,110.7,75.6,80.1,66.1,10.1,25.1,12.6,62.8
9,10,"Amsterdam, Netherlands",196.9,113.0,71.5,79.0,67.5,10.3,23.5,24.2,87.5
10,11,"Frankfurt, Germany",196.2,142.6,54.4,77.0,62.3,8.0,22.6,32.4,84.7
11,12,"Stuttgart, Germany",194.2,149.8,65.4,76.2,62.6,7.2,30.1,41.2,81.1
12,13,"Munich, Germany",193.4,120.4,79.2,78.1,65.9,12.9,30.0,24.6,76.0
13,14,"Geneva, Switzerland",192.7,141.4,69.5,71.6,99.4,12.7,31.0,25.0,82.6
14,15,"Melbourne, Australia",192.6,142.5,56.3,73.1,65.2,7.4,41.8,27.6,94.3
15,16,"Brisbane, Australia",192.3,130.6,63.4,74.6,66.5,8.5,40.5,28.3,98.1
16,17,"Perth, Australia",192.2,133.8,58.3,71.8,69.5,5.4,41.5,26.9,95.7
17,18,"Reykjavik, Iceland",190.1,98.3,75.8,68.0,83.1,7.7,21.9,15.5,68.8
18,19,"Austin, TX, United States",189.0,154.6,58.7,67.0,67.9,3.4,36.3,42.1,82.1
19,20,"Seattle, WA, United States",189.0,160.3,45.9,70.7,80.4,5.0,43.0,33.6,91.7

In [27]:
# Filter out only the capital cities
capital_cities = []
for city in df_capital['City']:
    if city.split(',')[0] in capitals:
        capital_cities.append(city)

# Display the filtered list of capital cities
print(capital_cities)
print(len(capital_cities))

['Luxembourg, Luxembourg', 'Vienna, Austria', 'Copenhagen, Denmark', 'Helsinki, Finland', 'Amsterdam, Netherlands', 'Reykjavik, Iceland', 'Madrid, Spain', 'Oslo, Norway', 'Abu Dhabi, United Arab Emirates', 'Canberra, Australia', 'Tallinn, Estonia', 'Muscat, Oman', 'Ljubljana, Slovenia', 'Stockholm, Sweden', 'Tokyo, Japan', 'Vilnius, Lithuania', 'Doha, Qatar', 'Ottawa, Canada', 'Berlin, Germany', 'Wellington, New Zealand', 'Zagreb, Croatia', 'Prague, Czech Republic', 'Victoria, Canada', 'Taipei, Taiwan', 'Riyadh, Saudi Arabia', 'Singapore, Singapore', 'Cape Town, South Africa', 'Lisbon, Portugal', 'Bratislava, Slovakia', 'Riga, Latvia', 'Brussels, Belgium', 'Warsaw, Poland', 'Dublin, Ireland', 'Pretoria, South Africa', 'Seoul, South Korea', 'Montevideo, Uruguay', 'Kuwait City, Kuwait', 'London, United Kingdom', 'Sofia, Bulgaria', 'Islamabad, Pakistan', 'Rome, Italy', 'Ankara, Turkey', 'Budapest, Hungary', 'Sarajevo, Bosnia And Herzegovina', 'Paris, France', 'Minsk, Belarus', 'Kuala Lumpur, Malaysia', 'Bucharest, Romania', 'Moscow, Russia', 'Amman, Jordan', 'Athens, Greece', 'Yerevan, Armenia', 'Beijing, China', 'Tbilisi, Georgia', 'Panama City, Panama', 'Quito, Ecuador', 'Baku, Azerbaijan', 'Belgrade, Serbia', 'Skopje, North Macedonia', 'Buenos Aires, Argentina', 'Santiago, Chile', 'Hanoi, Vietnam', 'Nairobi, Kenya', 'Tirana, Albania', 'Bangkok, Thailand', 'Mexico City, Mexico', 'Jakarta, Indonesia', 'Lima, Peru', 'Cairo, Egypt', 'Beirut, Lebanon', 'Caracas, Venezuela', 'Dhaka, Bangladesh', 'Manila, Philippines', 'Tehran, Iran']
74

In [28]:
# Define the file path
file_path = r'C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_qual.csv'

# Export DataFrame to a CSV file
df_capital.to_csv(file_path, index=False)

print("DataFrame exported successfully to:", file_path)

DataFrame exported successfully to: C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_qual.csv

In [29]:
print(len(data_qual))

200